.board{
  width: 180px;
  border: 1px solid #ccc;
  font-size: 0;
  .square{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
  }
}